<%= form_with(model: employee, local: true) do |form| %>
  <div class="field">
    <%= form.label "名前" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "入社日" %>
    <%=
      raw sprintf(
        form.date_select(
          :join_date,
          use_month_numbers: true,
          date_separator: '%s'
        ),
        '年 ', '月 '
      ) + '日'
    %>
  </div>

  <div class="field">
    <%= form.label "性別" %>
    <label><%= form.radio_button :gender_id, 1, checked: true %>男</label>
    <label><%= form.radio_button :gender_id, 2 %>女</label>
    <label><%= form.radio_button :gender_id, 3 %>その他</label>
  </div>

  <div class="field">
    <%= form.label "役職" %>
    <%= form.text_field :position %>
  </div>

  <div class="actions">
    <%= form.submit value="登録" %>
  </div>
<% end %>
