<div class="top-content">
  <h1>詳細</h1>
</div>

<p>
  <strong>名前:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>入社日:</strong>
  <%= @employee.join_date.to_date %>
</p>

<p>
  <strong>性別:</strong>
  <%= @employee.gender.name %>
</p>

<p>
  <strong>役職:</strong>
  <%= @employee.position %>
</p>

<%= link_to '編集', edit_employee_path(@employee) %> |
<%= link_to '一覧へ', employees_path %>
