<div class="employees">
  <% content_for :title do %>
    ／ 詳細
  <% end %>

  <% if flash[:info] %>
    <div class="alert alert-info flash-sm"><%= flash[:info] %></div>
  <% else %>
    <% flash.each do |message_type, messages| %>
      <% messages.each do |message| %>
        <div class="alert alert-<%= message_type %>"><%= message[1][0] %></div>
      <% end %>
    <% end %>
  <% end %>

  <div class="center-content">
    <div class="row">
      <div class="prof-image-container">
        <%= image_tag @employee.profile_image.nil? ? "/assets/default.jpg" : @employee.profile_image.image.to_s %>
      </div>
      <div class="container col-sm-10">
        <div class="row row-show">
          <div class="col-md-5">
            名前
          </div>
          <div class="col-md-6">
            <%= @employee.name %>
          </div>
        </div>
        <div class="row row-show">
          <div class="col-md-5">
            入社日
          </div>
          <div class="col-md-6">
            <%= @employee.join_date.to_date.strftime("%Y年%-m月%-d日") %>
          </div>
        </div>
        <div class="row row-show">
          <div class="col-md-5">
            性別
          </div>
          <div class="col-md-6">
            <%= @employee.gender.name %>
          </div>
        </div>
        <div class="row row-show">
          <div class="col-md-5">
            役職
          </div>
          <div class="col-md-6">
            <%= @employee.position %>
          </div>
        </div>
        <div class="row row-show">
          <div class="col-md-5">
            メールアドレス
          </div>
          <div class="col-md-6">
            <%= @employee.email.blank? ? "設定されていません" : @employee.email %>
          </div>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= link_to '一覧へ', employees_path, class: "btn btn-lg btn-outline-secondary col-sm-2" %>
      <%=
        link_to '削除',
        employee_path(@employee.id),
        class: "btn btn-lg btn-outline-danger col-sm-2",
        method: :delete,
        data: { confirm: "#{ @employee.name }さんのデータを削除します。よろしいですか。" }
      %>
      <%= link_to '編集', edit_employee_path(@employee), class: "btn btn-lg btn-outline-primary col-sm-2" %>
    </div>
  </div>
</div>
